@{
    ViewBag.Title = "About";
}

<h1>About the Caufield Nutrition Clinic</h1>
<br />
<p>The Caulfield Nutrition Clinic offers individual nutrition and dietetic consultations at a reduced rate, run by an Accredited Practicing Dietitian (APD). We use this as a teaching clinic for students enrolled in our Masters of Dietetics course. All consultations are conducted by a qualified dietitian; students are able to observe and occasionally participate.</p>

<h3>The clinic offers high quality consultations on a range of nutrition issues including:</h3>
<br />
<ul>
    <li>Diabetes</li>
    <li>General healthy eating</li>
    <li>Weight loss</li>
    <li>IBS and food intolerances</li>
    <li>Bone health</li>
    <li>Nutrition for children and adolescents</li>
    <li>Chronic disease management</li>
    <li>Pregnancy and breastfeeding</li>
    <li>Cholesterol and blood pressure management</li>
</ul>
<p>The Department of Nutrition, Dietetics and Food also offers specialist Sports Nutrition and body composition assessment (by DXA) please contact caulfieldNutrition@gmail.com for more details.</p>
<h3>Pricing</h3>
<br />
<p>Concession (student or pensioner)
    Initial appointment (45 mins)  $20
    Review (30 mins) $10
    All others
    Initial appointment (45 mins) $50
    Review (30 mins) $25
    Body composition analysis (height, weight, body fat on SECA) $15
    Booking
    To make a booking call 03 9902 4270 or email caulfieldNutrition@gmail.com No referral is necessary.</p>


<p>If you have an illness such as diabetes, obesity or high cholesterol, you may be eligible for free treatment under an Enhanced Primary Care (EPC) plan. Please discuss this with your GP prior to making a booking.</p>
