@{
    ViewBag.Title = "Contact";
}
<h2>Contact us</h2>

<h3>Address:</h3>
<address>
    Caulfield Nutrition Clinic<br />
    Caulfield, VIC 3163<br />
    <abbr title="Phone">P:12345678</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>